@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  overflow: hidden !important;
  height: 100vh !important;
  width: 100vw !important;
  margin: 0;
  padding: 0;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

@layer base {
  :root {
    --background: 40 20% 95%;
    --foreground: 220 20% 10%;
  }

  * {
    box-sizing: border-box;
  }
}
